@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: rgb(250, 250, 250);
    font-family: Poppins;
}
h1 {
    text-align: center;
    margin: 100px;
    font-size: 50px;
    background-color: grey;
    border-radius: 20px;
    padding: 1rem 10rem 1rem 10rem;
    color: white;
    margin-left: 400px;
    margin-right: 400px;
}

ul {
    margin: 50px;
}

p {
    margin: 50px;
}

.first, .second {
    background-color: white;
}